<div class="top-row ps-3 navbar navbar-dark" style="background-color: #003366;">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: #00bfff;">Blazor Apps</a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="greeting">
                <span class="nav-icon">1</span> Greeting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="nav-icon">2</span> Form Validation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="nav-icon">3</span> To-Do List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter-app">
                <span class="nav-icon">4</span> Click Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="nav-icon">5</span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="nav-icon">5</span> User Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notification-settings">
                <span class="nav-icon">6</span> Notif Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <span class="nav-icon">6</span> Notifications
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="theme">
                <span class="nav-icon">7</span> Theme Toggle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo-db">
                <span class="nav-icon">8</span> ToDo Database
            </NavLink>
        </div>
    </nav>
</div>
